body {
  height: 100vh;
}

.transition {
  &-transform-25 {
    transition: transform .25s;
  }

  &-transform-5 {
    transition: transform .5s;
  }
}


.transform-scale {
  &-1 {
    transform: scale(1);
    
    &:active {
      transform: scale(.97);
      transition: transform .25s;
    }
  }
}

.transform-rotateY {
  &-180 {
    transform: rotateY(180deg);
  }
}

.transform-style {
  transform-style: preserve-3d;
}

.perspective {
  perspective: 1000px;
}